[Unit]
Description=Docker Socket for the API
PartOf=balena-engine.service

[Socket]
ListenStream=/var/run/balena-engine.sock
SocketMode=0660
SocketUser=root
SocketGroup=balena-engine

[Install]
WantedBy=sockets.target
