[Unit]
Description=Balena Application Container Engine
Documentation=https://www.balena.io/engine/docs
After=network-online.target balena-engine.socket firewalld.service
Wants=network-online.target
Requires=balena-engine.socket

[Service]
Type=notify
# the default is not to use systemd for cgroups because the delegate issues still
# exists and systemd currently does not support the cgroup feature set required
# for containers run by balena-engine
ExecStart=/usr/bin/balena-engine-daemon -H fd://
ExecReload=/bin/kill -s HUP $MAINPID
LimitNOFILE=1048576
# Having non-zero Limit*s causes performance problems due to accounting overhead
# in the kernel. We recommend using cgroups to do container-local accounting.
LimitNPROC=infinity
LimitCORE=infinity
# Uncomment TasksMax if your systemd version supports it.
# Only systemd 226 and above support this version.
#TasksMax=infinity
TimeoutStartSec=0
# set delegate yes so that systemd does not reset the cgroups of balena-engine containers
Delegate=yes
# kill only the balena-engine process, not all processes in the cgroup
KillMode=process
# restart the balena-engine process if it exits prematurely
Restart=on-failure
StartLimitBurst=3
StartLimitInterval=60s

[Install]
WantedBy=multi-user.target
